<form [formGroup]="heroForm" (ngSubmit)="submit()" class="ui form">
  <div class="field hidden">
    <label for="name">Id:</label>
    <input id="name" type="text" formControlName="id">
  </div>
  <div class="field required" [ngClass]="{'error' : !name.valid && name.touched}" appFieldError>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <div *ngIf="!name.valid && name.touched" class="ui pointing red basic label">
      <p *ngIf="name.errors.required">Name is required</p>
      <p *ngIf="name.errors.minlength">Name must be 8 characters long, we need another {{name.errors.minlength.requiredLength - name.errors.minlength.actualLength}} characters </p>
    </div>
  </div>
  <div class="ui buttons">
    <button type="submit" class="ui positive button">Save</button> 
    <div class="or"></div>
    <button type="reset" class="ui negative button" (click)="revert()" [disabled]="heroForm.pristine" >Revert</button>
  </div>
</form>