<h1>{{title}}</h1>
<nav class="ui secondary pointing menu">
  <a class="item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a class="item" routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a class="item" routerLink="/villains" routerLinkActive="active">Villains</a>
</nav>
<div class="ui segment">
  <router-outlet></router-outlet>
</div>

