<div>
  <h3 class="title">New Hero</h3>
  <hero-form [hero]="hero" (onSave)="saveHero($event)"></hero-form>
  <div *ngIf="saving" class="ui info message ">Saving ...</div>
  <div *ngIf="alert" class="ui message" [ngClass]="isOk ? 'positive' : negative">{{ alert }}</div>
</div>